<div class="container" >
    <div class="d-flex justify-content-center h-100">
        <div class="card card1">
            <div class="card-header" style="text-align: center; background-image: radial-gradient(circle at 120.71% 50%, #ffffff 0, #ffffff 16.67%, #fdfeff 33.33%, #e4e4df 50%, #c9cbbe 66.67%, #b2b7a3 83.33%, #9fa890 100%);">
                
                <div class="container">
                    <div class="d-flex justify-content-center h-50">
                        <div class="card" style="width:120rem; height: 5;">
                             <div class="card-body color_cuadro1" style="text-align: center;">
                                <h3 style="font-weight:bolder"> MATERIAS REGISTRADAS </h3>
                                <!-- <img [src]="ruta+'fijos/images/9.png'" alt="" >         -->
                             </div>
                        </div>
                  </div>
                </div>
           </div>

           <div class="card-body" >
               
                   
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                      <span class="input-group-text" id=""><i style="font-weight: bold;">Nombre:</i></span>
                        </div>
                        <input type="text"  name="nombre" class="form-control" placeholder="Alejandra Mamani" disabled>
                      </div>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                      <span class="input-group-text" id=""><i style="font-weight: bold;">Carrera: </i></span>
                        </div>
                        <input type="text"  name="carrera" class="form-control" placeholder="Ingeniería de Sistemas" disabled>
                      </div>
            
           </div>

<!--sector 1 i-->

     
<table ALIGN=CENTER WIDTH="100%" class="table table-responsive" style="overflow: scroll;">
               
    <tr>
        <td ALIGN=CENTER>
                    <div class="card-body color_cuadro2">
        <!-- <li class="ban texto-format" style="background-image: radial-gradient(circle at -7.92% 9.44%, #ffffff 0, #ffffff 16.67%, #fdfeff 33.33%, #e4e4df 50%, #c9cbbe 66.67%, #b2b7a3 83.33%, #9fa890 100%);"> -->
            <!-- <img src="images/3.jpg" /> -->
            <img [src]="ruta+'fijos/images/1_alg.jpg'" alt="">
            <div class="box-texto" style="font-weight: bolder;">
                <h3 class="titulo">Algebra</h3>
                <div class="texto5 tx"><p></p>
                </div>
                <!-- <a class="btn-link" href="">Ver más</a> -->
            </div></div>
        <!-- </li> -->
       </td>

       <td WIDTH="10%">
    </td>
       <td  ALIGN=CENTER>
        <div class="card-body color_cuadro2" >
        <!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
            <img [src]="ruta+'fijos/images/2_anum.png'" alt="">
            <div class="box-texto">
                <h3 class="titulo">Análisis Numérico</h3>
                <div class="texto5 tx"><p></p>
                </div>
                <!-- <a class="btn-link" href="">Ver más</a> -->
            </div>
        </div>
        <!-- </li> -->
       </td>

        <td  WIDTH="10%">
        </td>
    </tr>

    <tr>
        <td  ALIGN=CENTER >
            <div class="card-body color_cuadro2" >
        <!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
            <img [src]="ruta+'fijos/images/4_ecudif.png'" alt="">
            <div class="box-texto">
                <h3 class="titulo">E. Diferenciales</h3>
                <div class="texto5 tx"><p></p>
                </div>
                <!-- <a class="btn-link" href="">Ver más</a> -->
            </div>
        </div>
        <!-- </li> -->
        </td>
          
        <td  WIDTH="10%">
        </td>
        <td  ALIGN=CENTER >
            <div class="card-body color_cuadro2" >
        <!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
            <img [src]="ruta+'fijos/images/3_econ.png'" alt="">
            <div class="box-texto">
                <h3 WIDTH="20%" class="titulo">Econometría</h3>
                <div class="texto5 tx"><p></p>
                </div>
                <!-- <a class="btn-link" href="">Ver más</a> -->
            </div>
        </div>
        <!-- </li> -->
        </td>
        <td  WIDTH="10%">
        </td>
        </tr>

        <tr>
        <td  ALIGN=CENTER >
            <div class="card-body color_cuadro2" >
        <!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
            <img [src]="ruta+'fijos/images/5_est.png'" alt="">
            <div class="box-texto">
                <h3 class="titulo">Estadística</h3>
                <div class="texto5 tx"><p></p>
                </div>
                <!-- <a class="btn-link" href="">Ver más</a> -->
            </div>
        </div>
        </td>
        <td  WIDTH="10%">
        </td>
            
        <td  ALIGN=CENTER >
            <div class="card-body color_cuadro2" >
        <!-- </li> -->
        <!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
            <img [src]="ruta+'fijos/images/6_prog.png'" alt="">
            <div class="box-texto">
                <h3 class="titulo">Programación</h3>
                <div class="texto5 tx"><p></p>
                </div>
                <!-- <a class="btn-link" href="">Ver más</a> -->
            </div>
        </div>
        <!-- </li> -->
        </td>
   
    <td  WIDTH="10%">
    </td>
    </tr>

    <tr>
    <td  ALIGN=CENTER >
        <div class="card-body color_cuadro2" >
    <!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
        <img [src]="ruta+'fijos/images/7_fis.png'" alt="">
        <div class="box-texto">
            <h3 class="titulo">Física</h3>
            <div class="texto5 tx"><p></p>
            </div>
            <!-- <a class="btn-link" href="">Ver más</a> -->
        </div>
    </div>
    </td>
    <td  WIDTH="10%">
    </td>
        
    <td  ALIGN=CENTER >
        <div class="card-body color_cuadro2" >
    <!-- </li> -->
    <!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
        <img [src]="ruta+'fijos/images/8_qui.png'" alt="">
        <div class="box-texto">
            <h3 class="titulo">Química</h3>
            <div class="texto5 tx"><p></p>
            </div>
            <!-- <a class="btn-link" href="">Ver más</a> -->
        </div>
    </div>
    <!-- </li> -->
    </td>
</tr>
<tr>
    <td  ALIGN=CENTER >
        <div class="card-body color_cuadro2" >
    <!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
        <img [src]="ruta+'fijos/images/9_cal.png'" alt="">
        <div class="box-texto">
            <h3 class="titulo">Cálculo</h3>
            <div class="texto5 tx"><p></p>
            </div>
            <!-- <a class="btn-link" href="">Ver más</a> -->
        </div>
    </div>
    </td>
    <td  WIDTH="10%">
    </td>
        
    <td  ALIGN=CENTER >
        <div class="card-body color_cuadro2" >
    <!-- </li> -->
    <!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
        <img [src]="ruta+'fijos/images/10_abal.png'" alt="">
        <div class="box-texto">
            <h3 class="titulo">Análisis de Balance</h3>
            <div class="texto5 tx"><p></p>
            </div>
            <!-- <a class="btn-link" href="">Ver más</a> -->
        </div>
    </div>
    <!-- </li> -->
    </td>
</tr>
<tr>
    <td  ALIGN=CENTER >
        <div class="card-body color_cuadro2" >
    <!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
        <img [src]="ruta+'fijos/images/11_adis.png'" alt="">
        <div class="box-texto">
            <h3 class="titulo">Análisis Discreto</h3>
            <div class="texto5 tx"><p></p>
            </div>
            <!-- <a class="btn-link" href="">Ver más</a> -->
        </div>
    </div>
    </td>
    <td  WIDTH="10%">
    </td>
        
    <td  ALIGN=CENTER >
        <div class="card-body color_cuadro2" >
    <!-- </li> -->
    <!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
        <img [src]="ruta+'fijos/images/12_ecom.png'" alt="">
        <div class="box-texto">
            <h3 class="titulo">E. Computadores</h3>
            <div class="texto5 tx"><p></p>
            </div>
            <!-- <a class="btn-link" href="">Ver más</a> -->
        </div>
    </div>
    <!-- </li> -->
    </td>
</tr>
    </table>
    <div class="form-group">
        <input style="font-weight: bolder; " type="submit" value="Imprimir" class="btn float-right btn-primary">
    </div>
<br>
   
<!--sector 1 f-->

<!-- linea modulo 4-->
</div>
<br>
</div>

<!-- linea -->
