    <!-- linea -->

    <div class="d-flex justify-content-center h-100">
        <div class="card" style="width: 1190rem; height: auto; ">
            
            <img [src]="ruta+'fijos/images/1.png'" alt="" data-img-mobile="images/img/1.png">
            <span></span>
        </div>
    </div>

<!-- linea2 -->

<!-- linea -->
    
<div class="d-flex justify-content-center h-100" >
    <div class="card" style="width: 1200rem; height: auto; background-color: #ffc107" >
       <div class="card-header">
           <h3 style="font-weight:bolder">Unior Plataforma Virtual.</h3> 
                              
                </div>
            <table ALIGN=CENTER WIDTH="100%" class="table table-responsive" style="overflow: scroll;">
               
    <tr>
        <td ALIGN=CENTER>
                    <div class="card-body color_cuadro">
		<!-- <li class="ban texto-format" style="background-image: radial-gradient(circle at -7.92% 9.44%, #ffffff 0, #ffffff 16.67%, #fdfeff 33.33%, #e4e4df 50%, #c9cbbe 66.67%, #b2b7a3 83.33%, #9fa890 100%);"> -->
            <!-- <img src="images/3.jpg" /> -->
            <img [src]="ruta+'fijos/images/3.jpg'" alt="">
            <div class="box-texto" style="font-weight: bolder;">
                <h3 class="titulo">Institución</h3>
                <div class="texto5 tx"><p></p>
                </div>
                <!-- <a class="btn-link" href="">Ver más</a> -->
            </div></div>
        <!-- </li> -->
       </td>

       <td WIDTH="10%">
    </td>
       <td  ALIGN=CENTER>
        <div class="card-body color_cuadro" >
        <!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
            <img [src]="ruta+'fijos/images/4.jpg'" alt="">
            <div class="box-texto">
                <h3 class="titulo">Académico</h3>
                <div class="texto5 tx"><p></p>
                </div>
                <!-- <a class="btn-link" href="">Ver más</a> -->
            </div>
        </div>
        <!-- </li> -->
       </td>
        <td  WIDTH="10%">
        </td>
        <td  ALIGN=CENTER >
            <div class="card-body color_cuadro" >
		<!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
            <img [src]="ruta+'fijos/images/5.jpg'" alt="">
            <div class="box-texto">
                <h3 class="titulo">Méritos</h3>
                <div class="texto5 tx"><p></p>
                </div>
                <!-- <a class="btn-link" href="">Ver más</a> -->
            </div>
        </div>
        <!-- </li> -->
        </td>
          
        <td  WIDTH="10%">
        </td>
        <td  ALIGN=CENTER >
            <div class="card-body color_cuadro" >
		<!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
            <img [src]="ruta+'fijos/images/6.jpg'" alt="">
            <div class="box-texto">
                <h3 WIDTH="20%" class="titulo">Planes</h3>
                <div class="texto5 tx"><p></p>
                </div>
                <!-- <a class="btn-link" href="">Ver más</a> -->
            </div>
        </div>
        <!-- </li> -->
        </td>
        <td  WIDTH="10%">
        </td>
        <td  ALIGN=CENTER >
            <div class="card-body color_cuadro" >
		<!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
            <img [src]="ruta+'fijos/images/7.jpg'" alt="">
            <div class="box-texto">
                <h3 class="titulo">Carreras</h3>
                <div class="texto5 tx"><p></p>
                </div>
                <!-- <a class="btn-link" href="">Ver más</a> -->
            </div>
        </div>
        </td>
        <td  WIDTH="10%">
        </td>
            
        <td  ALIGN=CENTER >
            <div class="card-body color_cuadro" >
        <!-- </li> -->
		<!-- <li class="ban texto-format" style="background-color: #ffc107"> -->
            <img [src]="ruta+'fijos/images/8.jpg'" alt="">
            <div class="box-texto">
                <h3 class="titulo">Novedades</h3>
                <div class="texto5 tx"><p></p>
                </div>
                <!-- <a class="btn-link" href="">Ver más</a> -->
            </div>
        </div>
        <!-- </li> -->
        </td>
    </tr>
    </table>
    <h5>¿Tienes dudas como utilizar la Plataforma Virtual?</h5>
<h5>Revisa la guía de uso para continuar tus estudios desde casa.</h5>
<br>
    </div>
</div>
        

        
    <!-- linea -->

<div style="background-image: radial-gradient(circle at -7.92% 9.44%, #ffffff 0, #ffffff 16.67%, #fdfeff 33.33%, #e4e4df 50%, #c9cbbe 66.67%, #b2b7a3 83.33%, #9fa890 100%);">
	
</div>


<div class="d-flex justify-content-center h-100">
    <div class="card" style="width: 1190rem; height: auto; ">
        
        <img [src]="ruta+'fijos/images/2.jpg'" alt="" data-img-mobile="images/img/2.jpg">
        <span></span>
    </div>
</div>