<aside class="main-sidebar sidebar-light-danger elevation-4" style="">
    <!-- Brand Logo -->
    <a routerLink="index3.html" class="brand-link">
      <img [src]="ruta+'fijos/escudoUnior.png'"  alt="Unior Escudo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light" style="font-size: 15px;">Universidad Privada de Oruro</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img [src]="ruta+'fijos/foto.jpeg'" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a routerLink="/" class="d-block">Alejandra Mamani</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Buscar Estudiante" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a routerLink="/" class="nav-link active">
              <i class="nav-icon fas fa-list-alt"></i>
              <p>
                Gestionar
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/administrativos" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gestionar Administrativos</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gestionar Docentes</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gestionar Cursos</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gestionar Calificaciones</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gestionar Publicaciones</p>
                </a>
              </li>
             
            </ul>
           
          </li>

          <li class="nav-item menu-open">
            <a routerLink="/" class="nav-link active">
              <i class="nav-icon fas fa-list-alt"></i>
              <p>
                Información
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/InicioE" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Pagina Inicial</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/modulo1" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Materias Registradas</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/modulo2" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Materia</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/modulo3" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Notas</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/plan-e" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Crear Plan de Estudios</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/prerrequisito" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Crear materias</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/semestre" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Crear Semestre</p>
                </a>
              </li>
            </ul>
           
          </li>

       
          <li class="nav-item">
            <a routerLink="/" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Horario
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>