<!-- linea modulo 2-->
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style="width: 120rem; height: auto; background-image: radial-gradient(circle at 120.71% 50%, #ffffff 0, #ffffff 16.67%, #fdfeff 33.33%, #e4e4df 50%, #c9cbbe 66.67%, #b2b7a3 83.33%, #9fa890 100%); " >
            <div class="card-header" style="text-align: center;background-image: radial-gradient(circle at 50% 50%, #ffff9f 0, #e8d456 50%, #b0a000 100%);">
                <h3 style="font-weight:bolder; text-align: center;">UNIVERSIDAD PRIVADA DE ORURO</h3>
                <H3 style="font-weight:bolder;text-align: center;">UNIOR</H3>
                
            </div>
            <div class="card-body" >
               
                    
                    <!--Nombre-->
                    <div class="container">
                        <div class="d-flex justify-content-center h-100">
                            <div class="card" style="width: 15rem; height: 50 ">
                                 <div class="card-body" >
                                 <img [src]="ruta+'fijos/escudoUnior.png'" alt="" >  
                                 </div>
                            </div>
                      </div>
                    </div>
                    <!--Aellidos-->
                    <div class="input-group form-group">
                      <div class="input-group-prepend">

                <p>La Universidad Privada de Oruro, pone a disposición de los estudiantes numerosos servicios de sustento y beneficio, los cuales tienen por objetivo apropiado ir en favor del estudiante durante su vida universitaria, para así facilitar su desempeño académico en su paso por la UNIOR.
                    La Universidad, por medio de sus unidades y mecanismos de apoyo, entrega sus servicios de cooperación y beneficios a los alumnos de pre y posgrado.
                    
                    Con estos propósitos y objetivos, la Universidad Privada de Oruro, ha establecido en su estructura componentes y organismos de servicios y apoyo al Estudiante; apoyo y orientación psicológica, con el departamento de Bienestar Estudiantil y asesoramiento en problemas académicos. Organización de actividades de esparcimiento y actividades deportivas, así como programas de apoyo y gestión de apoyo estudiantil.</p>       
                </div>
              
            </div>
            <div class="container">
                <div class="d-flex justify-content-center h-100">
                    <div class="card" style="width: 15rem; height: 50 ">
                         <div class="card-body" >
                         <img [src]="ruta+'fijos/images/1.png'" alt="" >  
                         </div>
                    </div>
              </div>
            </div>
        </div>
    </div>
    <br>
</div>