<strong>
  <h2 class="text-center text-bold text-light">GESTIONAR ADMINISTRATIVO</h2>
</strong>
<hr class="border-warning">

<button (click)="AddAdministrativo()" type="button" class="btn btn-outline-light font-weight-bold" data-toggle="modal" data-target="#ModalAdd" data-whatever="@getbootstrap">AGREGAR ADMINISTRATIVO</button>/
<form method="GET" action="" accept-charset="UTF-8" class="form-inline my-2 my-lg-0 float-right" role="search">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text bg-warning" id="inputGroup-sizing-default">Búsqueda</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
</form>
<br>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-danger">
      <thead class="bg-danger ">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Completo</th>
          <th scope="col">Carnet</th>
          <th scope="col">Sexo</th>
          <th scope="col">Tipo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of admin; let i= index"  >
          <td>{{i+1}}</td>
          <td>
            <span *ngIf="!a.Editando">{{a.Ap_Paterno}}⠀</span>
            <span *ngIf="!a.Editando">{{a.Ap_Materno}}⠀</span>
            <span *ngIf="!a.Editando">{{a.Nombre}}</span>
          </td>
          <td>
            <span *ngIf="!a.Editando">{{a.CI}}</span>
          </td>
          <td>
            <span *ngIf="!a.Editando">{{a.Sexo}}</span>
          </td>
          <td>
              <span *ngIf="!a.Editando">{{a.Tipo}}</span>
          </td>
          <td style="width: 200px;">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ModalVisualizacion"
              (click)='AdministrativoSeleccionado=a;' style="margin-right: 10px;"><i class="bi bi-eye"></i></button>

            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalModificacion"
              (click)='AdministrativoSeleccionado=a;' style="margin-right: 10px;"><i class="bi bi-pencil"></i></button>

           <button type="button" class="btn btn-danger" (click)="EliminarAdministrativo(a.id)">
             <i class="bi bi-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <span>{{seleccionado | json}}</span> -->
  
  </div>
<!-- modal_adicion -->
<div class="modal fade" id="ModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AGREGAR ADMINISTRATIVO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3" [formGroup]="newAdministrativo">
         
          <label for="Ap_Paterno" class="form-label">Ap. Paterno: </label>
          <input type="text" class="form-control" formControlName="Ap_Paterno">
          <label for="Ap_Materno" class="form-label">Ap. Materno: </label>
          <input type="text" class="form-control" formControlName="Ap_Materno">
          <label for="nombre" class="form-label">Nombre: </label>
          <input type="text" class="form-control" formControlName="Nombre">
          <label for="nombre" class="form-label">Sexo: </label>
          <input type="text" class="form-control" formControlName="Sexo">
          <label for="nombre" class="form-label">Fecha Nacimiento: </label>
          <input type="date" class="form-control" formControlName="FechNac">
          <label for="nombre" class="form-label">CI: </label>
          <input type="text" class="form-control" formControlName="CI">
          <label for="nombre" class="form-label">Contraseña: </label>
          <input type="text" class="form-control" formControlName="Password">
          <label for="nombre" class="form-label">Tipo: </label>
          <input type="text" class="form-control" formControlName="Tipo">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="AddAdministrativo()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL_DE_MODIFICACION -->
<div class="modal fade" id="ModalModificacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MODIFICAR ADMINISTRATIVO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <!-- <input type="text" class="form-control" formControlName="Foto" [(ngModel)]="AdministrativoSeleccionado.Foto"> -->
          <label for="nombre" class="form-label">Ap. Paterno: </label>
          <input type="text" class="form-control" 
            [(ngModel)]="AdministrativoSeleccionado.Ap_Paterno">
          <label for="nombre" class="form-label">Ap. Materno: </label>
          <input type="text" class="form-control" 
            [(ngModel)]="AdministrativoSeleccionado.Ap_Materno">
          <label for="nombre" class="form-label">Nombre: </label>
          <input type="text" class="form-control" 
            [(ngModel)]="AdministrativoSeleccionado.Nombre">
          <label for="nombre" class="form-label">Sexo: </label>
          <input type="text" class="form-control" [(ngModel)]="AdministrativoSeleccionado.Sexo">
          <label for="nombre" class="form-label">Fecha Nacimiento: </label>
          <input type="date" class="form-control" 
            [(ngModel)]="AdministrativoSeleccionado.FechNac">
          <label for="nombre" class="form-label">CI: </label>
          <input type="text" class="form-control"  [(ngModel)]="AdministrativoSeleccionado.CI">
          <label for="nombre" class="form-label">TIPO: </label>
          <input type="text" class="form-control"  [(ngModel)]="AdministrativoSeleccionado.Tipo">
          <label for="nombre" class="form-label">Curso: </label>
          <!-- <input type="text" class="form-control" formControlName="curso_id" [(ngModel)]="AdministrativoSeleccionado.curso_id"> -->
          <label for="nombre" class="form-label">Contraseña: </label>
          <input type="text" class="form-control" 
            [(ngModel)]="AdministrativoSeleccionado.Password">
          <label for="nombre" class="form-label">Estado de Cuenta: </label>
          <input type="text" class="form-control" 
            [(ngModel)]="AdministrativoSeleccionado.Estado">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="ModificarAdministrativo(AdministrativoSeleccionado)">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL_DE_VISUALIZACION -->
<div class="modal fade" id="ModalVisualizacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">VISUALIZAR ADMINISTRATIVO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <!-- <input type="text" class="form-control" formControlName="Foto" [(ngModel)]="AdministrativoSeleccionado.Foto"> -->
          <label for="nombre" class="form-label">Ap. Paterno: </label>
          <input type="text" class="form-control" 
            [(ngModel)]="AdministrativoSeleccionado.Ap_Paterno">
          <label for="nombre" class="form-label">Ap. Materno: </label>
          <input type="text" class="form-control" 
            [(ngModel)]="AdministrativoSeleccionado.Ap_Materno">
          <label for="nombre" class="form-label">Nombre: </label>
          <input type="text" class="form-control" 
            [(ngModel)]="AdministrativoSeleccionado.Nombre">
          <label for="nombre" class="form-label">Sexo: </label>
          <input type="text" class="form-control" [(ngModel)]="AdministrativoSeleccionado.Sexo">
          <label for="nombre" class="form-label">Fecha Nacimiento: </label>
          <input type="date" class="form-control" 
            [(ngModel)]="AdministrativoSeleccionado.FechNac">
          <label for="nombre" class="form-label">CI: </label>
          <input type="text" class="form-control"  [(ngModel)]="AdministrativoSeleccionado.CI">
          <label for="nombre" class="form-label">TIPO: </label>
          <input type="text" class="form-control"  [(ngModel)]="AdministrativoSeleccionado.Tipo">
          <label for="nombre" class="form-label">Curso: </label>
          <!-- <input type="text" class="form-control" formControlName="curso_id" [(ngModel)]="AdministrativoSeleccionado.curso_id"> -->
          <label for="nombre" class="form-label">Contraseña: </label>
          <input type="text" class="form-control" 
            [(ngModel)]="AdministrativoSeleccionado.Password">
          <label for="nombre" class="form-label">Estado de Cuenta: </label>
          <input type="text" class="form-control" 
            [(ngModel)]="AdministrativoSeleccionado.Estado">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>