<div class="container" >
    <div class="d-flex justify-content-center h-100">
        <div class="card card1">
            <div class="card-header" style="text-align: center; background-image: radial-gradient(circle at 120.71% 50%, #ffffff 0, #ffffff 16.67%, #fdfeff 33.33%, #e4e4df 50%, #c9cbbe 66.67%, #b2b7a3 83.33%, #9fa890 100%);
            ">
                
                <div class="container">
                    <div class="d-flex justify-content-center h-50">
                        <div class="card" style="width:120rem; height: 5;">
                             <div class="card-body color_cuadro1" style="text-align: center;">
                                <h3 style="font-weight:bolder"> Notas 2022 </h3>
                                <!-- <img [src]="ruta+'fijos/images/9.png'" alt="" >         -->
                             </div>
                        </div>
                  </div>
                </div>
           </div>

           <div class="card-body" >
               
                   
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                      <span class="input-group-text" id=""><i style="font-weight: bold;">Nombre:</i></span>
                        </div>
                        <input type="text"  name="nombre" class="form-control" placeholder="Alejandra Mamani" disabled>
                      </div>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                      <span class="input-group-text" id=""><i style="font-weight: bold;">Carrera: </i></span>
                        </div>
                        <input type="text"  name="carrera" class="form-control" placeholder="Ingeniería de Sistemas" disabled>
                      </div>
            
           </div>

<!--sector 1 i-->

     
<table ALIGN=CENTER WIDTH="100%" class="table table-responsive" style="overflow: scroll; text-align: center;">
               
<tr style="background-image: radial-gradient(circle at 120.71% 50%, #ffffff 0, #ffffff 16.67%, #fdfeff 33.33%, #e4e4df 50%, #c9cbbe 66.67%, #b2b7a3 83.33%, #9fa890 100%);
            overflow: hidden;">
    <th></th>
    <th>Logo</th>
    <th>Materia</th>
    <th>Primer Parcial</th>
    <th>Segundo Parcial</th>
    <th>Prácticas</th>
    <th>Examen Final</th>
</tr>


<tr>
    <td></td>    
    <td ALIGN=CENTER>
            <div class="card-body color_cuadro4">
               <img [src]="ruta+'fijos/images/1_m_alg.jpg'" alt="">            
            </div>
       </td>

       <td>
           <div class="box-texto" style="font-weight: bolder;">
               <h6 class="titulo">Algebra</h6>
           </div>
       </td>

        <td>
        <div class="box-texto" style="font-weight: bolder;">
            <h6 class="titulo">75</h6>
        </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">63</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">80</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">67</h6>
            </div>
        </td>
      
</tr>

<tr>
    <td></td>    
    <td ALIGN=CENTER>
            <div class="card-body color_cuadro4">
               <img [src]="ruta+'fijos/images/2_m_anum.jpg'" alt="">            
            </div>
       </td>

       <td>
           <div class="box-texto" style="font-weight: bolder;">
               <h6 class="titulo">Análisis Numérico</h6>
           </div>
       </td>

        <td>
        <div class="box-texto" style="font-weight: bolder;">
            <h6 class="titulo">75</h6>
        </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">63</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">80</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">67</h6>
            </div>
        </td>
      
</tr>

<tr>
    <td></td>    
    <td ALIGN=CENTER>
            <div class="card-body color_cuadro4">
               <img [src]="ruta+'fijos/images/4_m_ec.png'" alt="">            
            </div>
       </td>

       <td>
           <div class="box-texto" style="font-weight: bolder;">
               <h6 class="titulo">Ecuaciones Diferenciales</h6>
           </div>
       </td>

        <td>
        <div class="box-texto" style="font-weight: bolder;">
            <h6 class="titulo">75</h6>
        </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">63</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">80</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">67</h6>
            </div>
        </td>
      
</tr>

<tr>
    <td></td>    
    <td ALIGN=CENTER>
            <div class="card-body color_cuadro4">
               <img [src]="ruta+'fijos/images/3_m_econ.png'" alt="">            
            </div>
       </td>

       <td>
           <div class="box-texto" style="font-weight: bolder;">
               <h6 class="titulo">Econometría</h6>
           </div>
       </td>

        <td>
        <div class="box-texto" style="font-weight: bolder;">
            <h6 class="titulo">75</h6>
        </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">63</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">80</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">67</h6>
            </div>
        </td>
      
</tr>

<tr>
    <td></td>    
    <td ALIGN=CENTER>
            <div class="card-body color_cuadro4">
               <img [src]="ruta+'fijos/images/5_m_est.jpg'" alt="">            
            </div>
       </td>

       <td>
           <div class="box-texto" style="font-weight: bolder;">
               <h6 class="titulo">Estadítica</h6>
           </div>
       </td>

        <td>
        <div class="box-texto" style="font-weight: bolder;">
            <h6 class="titulo">75</h6>
        </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">63</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">80</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">67</h6>
            </div>
        </td>
      
</tr>

<tr>
    <td></td>    
    <td ALIGN=CENTER>
            <div class="card-body color_cuadro4">
               <img [src]="ruta+'fijos/images/6_m_pro.png'" alt="">            
            </div>
       </td>

       <td>
           <div class="box-texto" style="font-weight: bolder;">
               <h6 class="titulo">Programación</h6>
           </div>
       </td>

        <td>
        <div class="box-texto" style="font-weight: bolder;">
            <h6 class="titulo">75</h6>
        </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">63</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">80</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">67</h6>
            </div>
        </td>
      
</tr>

<tr>
    <td></td>    
    <td ALIGN=CENTER>
            <div class="card-body color_cuadro4">
               <img [src]="ruta+'fijos/images/7_m_fis.jpg'" alt="">            
            </div>
       </td>

       <td>
           <div class="box-texto" style="font-weight: bolder;">
               <h6 class="titulo">Física</h6>
           </div>
       </td>

        <td>
        <div class="box-texto" style="font-weight: bolder;">
            <h6 class="titulo">75</h6>
        </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">63</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">80</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">67</h6>
            </div>
        </td>
      
</tr>

<tr>
    <td></td>    
    <td ALIGN=CENTER>
            <div class="card-body color_cuadro4">
               <img [src]="ruta+'fijos/images/8_m_qui.jpg'" alt="">            
            </div>
       </td>

       <td>
           <div class="box-texto" style="font-weight: bolder;">
               <h6 class="titulo">Química</h6>
           </div>
       </td>

        <td>
        <div class="box-texto" style="font-weight: bolder;">
            <h6 class="titulo">75</h6>
        </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">63</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">80</h6>
            </div>
        </td>

        <td>
            <div class="box-texto" style="font-weight: bolder;">
                <h6 class="titulo">67</h6>
            </div>
        </td>
      
</tr>


    </table>
    <div class="form-group">
        <input style="font-weight: bolder; " type="submit" value="Imprimir" class="btn float-right btn-primary">
    </div>
<br>
   
<!--sector 1 f-->

<!-- linea modulo 4-->
</div>
<br>
</div>
